<div [ngClass]="className" class="flex ">
    <ng-container *ngFor="let tab of tabs" >
    <button
    (click)="setTab(tab.id)"
    class="pb-3  border-b-2
           hover:text-black hover:border-gray-300 transition"
    [ngClass]=" activeTab === tab.id ?
      'border-red-700 text-black font-semibold': 
      'border-transparent text-gray-500'
    "
  >
    {{ tab.label }}
  </button>
  <span *ngIf="tab !== tabs[tabs.length - 1]" class="border-l-[1.7px] border-gray-300"></span>
  
  </ng-container>
</div>

<div class="mt-3">
   <ng-container *ngFor="let content of contentTemplates">
        <ng-container *ngIf="content.tabId === activeTab">
          <ng-container [ngTemplateOutlet]="content.template"></ng-container>
        </ng-container>
      </ng-container>
</div>