<div class="mt-20 flex gap-20 justify-center items-center">
    <div class="w-1/2 space-y-7">
        <h1 class="text-7xl font-extrabold">Lorem ipsum dolor sit amet </h1>
        <p class="text-lg">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Veritatis delectus quam, nihil quisquam sequi, distinctio ullam architecto quia voluptates reiciendis eaque, iusto accusamus. Asperiores consequatur voluptatum laborum distinctio saepe soluta.</p>
        <button class="bg-red-500 text-white px-4 py-2 rounded-lg">Let's Start</button>
    </div>
    <div class="w-1/2 ">
        <img src="/assets/images/content.svg" alt="">
    </div>
</div>