<div class="w-full pt-5">
    <nav class="flex justify-between items-center">
        <a class="text-xl font-bold " href="">Altruis</a>

        <ul class="flex justify-center gap-20 ">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/">About</a>
            </li>

            <li>
                <a href="/">Faq</a>
            </li>
            <li>
                <a href="/">Contact</a>
            </li>
        </ul>
        <button class="bg-black text-white px-4 py-2 rounded-lg">Get Started</button>
    </nav>
</div>
