@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap');
@import "tailwindcss";
@plugin "daisyui";
@theme {
  --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  html {
    font-family: var(--font-sans);
  }
}

@import 'quill/dist/quill.snow.css';


.ql-toolbar.ql-snow {
  border: 1px solid #e5e7eb !important;
  border-radius: 0.75rem 0.75rem 0 0;
  background: #f9fafb;
}

.ql-container.ql-snow {
  border: 1px solid #e5e7eb !important;
  border-radius: 0 0 0.75rem 0.75rem;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}