 <div class="flex min-h-screen w-full bg-gray-100">
            <div class="flex flex-col w-full">
                <app-navbar />
                <div class="flex">
                    <app-sidebar />
                    <div class="flex-1 p-6">
                        <div class="max-w-4xl mx-auto">
                            <h1 class="font-bold text-2xl mb-2">Article page</h1>
                            <p class="mb-5">Explore our latest articles and insights.</p>
                            <app-tabs activeTab="article_timeline" [tabs]="tabs">

                                <ng-template appTabContent="article_timeline">
                                    <app-tabs className="justify-around " [tabs]="articleTimelineTabs" activeTab="all"></app-tabs>
                                </ng-template>
                                <ng-template appTabContent="saved_articles">
                                    <p>Saved Articles content goes here...</p>
      
                                </ng-template>
                                <ng-template appTabContent="your_article">
                                    <p>Your Article content goes here...</p>
                                </ng-template>
                            </app-tabs>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    