<div class="bg-white p-6 rounded-lg">
    {{question}}
    <div class="pt-3 border-t border-gray-200 mt-10 flex  gap-10">
        <div class="space-x-1">
            <button>
              <lucide-icon [img]="ThumbsUp" [size]="28"></lucide-icon>
                
            </button>
            <button>
                <lucide-icon [img]="ThumbsDown" [size]="28"></lucide-icon>
                    
            </button>
        </div>
        <div class="space-x-1">

            <button>
                <lucide-icon [img]="CircleCheck" [size]="28"></lucide-icon>
            </button>
            <button>
                <lucide-icon [img]="CircleX" [size]="28"></lucide-icon>
            </button>
        </div>
        <div class="space-x-1">

            <button>
                <lucide-icon [img]="Check" [size]="28"></lucide-icon>
                
            </button>
            <button> <lucide-icon [img]="X" [size]="28"></lucide-icon> </button>
        </div>
        <div class="space-x-1">

            <button>
                <lucide-icon [img]="ArrowBigUp" [size]="28"></lucide-icon>
            </button>
            <button>
                <lucide-icon [img]="ArrowBigDown" [size]="28"></lucide-icon>
            </button>
        </div>
        <div>
            <button>
                <lucide-icon [img]="MessageCircle" [size]="28"></lucide-icon>
            </button>
        </div>
            
    </div>
</div>