<div class="bg-white p-6 rounded-lg">
    {{question}}
    <div class="pt-3 border-t border-gray-200 mt-10 flex  gap-10">
        <div class="space-x-2">
            <button>
              <!-- <lucide-icon [img]="ThumbsUp" [size]="28"></lucide-icon> -->
                Like
            </button>
            <span class="border-l border-gray-400"></span>

            <button>
                <!-- <lucide-icon [img]="ThumbsDown" [size]="28"></lucide-icon> -->
                 Dislike
                    
            </button>
        </div>
        <div class="space-x-2">

            <button>
                <!-- <lucide-icon [img]="CircleCheck" [size]="28"></lucide-icon> -->
                Agree
            </button>
                        <span class="border-l border-gray-400"></span>

            <button>
                <!-- <lucide-icon [img]="CircleX" [size]="28"></lucide-icon> -->
                Disagree
            </button>
        </div>
        <div class="space-x-2">

            <button>
                <!-- <lucide-icon [img]="Check" [size]="28"></lucide-icon> -->
                Helpful
            </button>
                        <span class="border-l border-gray-400"></span>

            <button> 
                Unhelpful
                <!-- <lucide-icon [img]="X" [size]="28"></lucide-icon> --> 
            </button>
        </div>
        <div class="space-x-2">

            <button>
                Upvote
                <!-- <lucide-icon [img]="ArrowBigUp" [size]="28"></lucide-icon> -->
            </button>
                        <span class="border-l border-gray-400"></span>

            <button>
                Downvote
                <!-- <lucide-icon [img]="ArrowBigDown" [size]="28"></lucide-icon> -->
            </button>
        </div>
        <div>
            <button>
                Comment
                <!-- <lucide-icon [img]="MessageCircle" [size]="28"></lucide-icon> -->
            </button>
        </div>
            
    </div>
</div>