---
import Layout from "./Layout.astro";
---

<Layout>
    <div class="flex justify-center items-center h-screen">

        <div class="card w-lg bg-base-100 shadow-sm ">
            <div class="card-body">
                <slot />
                
            </div>
            </div>
    </div>
</Layout>