---
import Layout from "./Layout.astro";
---

<Layout>
        <div class="flex justify-center items-center h-screen">
        <div class="border border-slate-500 w-lg p-4 rounded-xl flex flex-col gap-6">
            <slot />
            </div>
    </div>
</Layout>